/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --themeColor: #ff2d20;
    --secLightDeep: #F6F3FE;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
}

/* Hero Section */
.hero-section {
    min-height: 91.4vh;
    background: linear-gradient(to right, #F5EFEF, #FEADA6);
}

/* Title */
.top-title::after {
    content: '';
    top: 10px;
    height: 1px;
    width: 60px;
    margin-left: 12px;
    position: absolute;
    background-color: var(--themeColor);
}

/* Elements */
.overFollow-3dots {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.overFollow-5line {
    -webkit-line-clamp: 5;
}

/* Buttons */
.btn-icon-animation .icon {
    transform: scale(0.80);
    transition: all 0.4s ease-in-out;
}

.btn-icon-animation:hover .icon {
    transform: scale(1.1);
}

/* Color */
.themeColor {
    color: var(--themeColor);
}

.gradient-color {

}

.gradient-color-1 {
    background: linear-gradient(to right, #D4FC79, #96E6A1);
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
}

.gradient-color-2 {
    background: linear-gradient(to right, #F6D365, #FDA085);
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
}

.gradient-color-3 {
    background: linear-gradient(to right, #F99185, #B12A5B);
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
}


/* Background Color */
.section-light-deep {
    background-color: var(--secLightDeep);
}

.gradient-bg {
    background: linear-gradient(130deg, rgba(255, 255, 255, 0.80), rgba(255, 255, 255, 0));
}

.gradient-bg-2 {
    background: linear-gradient(130deg, #84FAB0, #8FD3F4);
}

.gradient-bg-3 {
    background: linear-gradient(130deg, #F6D365, #FDA085);
}

.gradient-bg-4 {
    background: linear-gradient(130deg, #F99185, #B12A5B);
}

/* Background Images */
.bg-image {
    background-position: right;
    background-image: url("../assets/images/bg-image.png");
}

/* Font Size */
.fs-16 {
    font-size: 16px;
}

.fs-20 {
    font-size: 18px;
}

.fs-24 {
    font-size: 24px;
}

.fs-36 {
    font-size: 36px;
}

.fs-48 {
    font-size: 48px;
}

.fs-60 {
    font-size: 60px;
}

.fs-72 {
    font-size: 72px;
}

.min-height-118 {
    min-height: 118px;
}

/* Font Weigh */
.fw-600 {
    font-weight: 600;
}

/* Width */
@media only screen and (max-width: 991px) {
    .w-100-mx-991 {
        width: 100%;
    }

    .hero-section {
        padding: 50px 0;
    }

    .fs-50-mx-991 {
        font-size: 50px;
    }

    .fs-22-mx-991 {
        font-size: 22px;
    }

    .fs-22-mx-991 {
        font-size: 22px;
    }

    .fs-12-mx-991 {
        font-size: 12px;
    }

    .lh-12-mx-991 {
        line-height: 12px;
    }
}